 {
    "tag_regex": "^[0-9]{1,}.[0-9]{1,}.[0-9]{1,}$",
    "rc_regex": "^RC/[0-9]{1,}.[0-9]{1,}$",
    "bug_fix_regex": [
        "fix",
        "revert",
        "patch"
    ],
    "main_branch_name": "master",
    "stg_env_name": "stg",
    "prd_env_name": "prod",
    "dev_env_name": "dev",
    "misc_env_name": "general",
    "root_env_dir_name": "env", 
    "repo_url": "https://github.com/Nebulaworks/orion",
    "pr_body_prefix": "] -",
    "output_file_name": "gen_output_results.md",
    "weight_scale": {
        "env": 2,
        "modules": 10,
        "packer": 20,
        "ansible": 20,
        "awslambda": 20,
        "docs": 10,
        "terraform": 2
    }
}